/* Box Model Hack */
* {
     box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     background-image: url('../images/backgrounds/shoeWall.png');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

body {
     text-align: center;
     font-family: 'Oswald', sans-serif;
     margin: 0;
}

button {
     color: white;
     font-family: 'Oswald', sans-serif;
}

h1 {
     color: #ffffff;
     font-size: 4rem;
     margin: 0;
}

header {
     background-color: #222;
     padding: 2%;
}

footer {
     background-color: #222;
     color: white;
     padding: 2%;
}

button {
     cursor: pointer;
}

.restartBttn {
     background-color: #ff6600;
     font-size: 1.5rem;
     border: none;
     border-radius: 55px;
     padding: 15px 30px;
     transition: all .2s ease-in-out;
     margin-top: 5%;
}

.restartBttn:hover {
     background-color: #ff8533;
     transform: scale(1.1);
    
}
/******************************************
/* QUESTION STYLES
/*******************************************/

.hidden {
     display: none;
}


.mainContainer {
     background-color: white;
     border-radius: 20px;
     margin: 2% 10%;
     padding: 2%;
     box-shadow: 4px 4px 10px 2px #00000050;
}

.question {
     display: flex;
     flex-direction: column;
     max-width: 100%;
     height: auto;
}

.question>h2 {
     font-size: 2.63rem;
}

.answers {
     display: flex;
     justify-content: center;
}

.answers img {
     width: 100%;
     height: auto;
     border-radius: 18px 18px 0 0;
}

.answers button{
     background-color: #222;
     color: white;
     font-size: 2rem;
     border: none;
     border-radius: 20px;
     margin: 3%;
     height: min-content;
     padding: 0px;
     box-shadow: 4px 4px 10px 2px #00000050;
     transition: all .2s ease-in-out;
}

.answers button:hover {
     background-color: #ff6600;
     transform: scale(1.1);
}

.answers p {
     padding: 0px 0px 10px 0px;
     margin: 0;
}

#distanceImage {
     padding: 0 2% 2% 2%;
}

.distanceBttns button {
     background-color: #ff6600;
     padding: 15px;
     border-radius: 50px;
     transition: all .2s ease-in-out;
}

.distanceBttns button:hover {
     background-color: #ff8533;
     transform: scale(1.1);
}

/******************************************
/* RESULTS STYLES
/*******************************************/

#results {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: stretch;
}

.shoeBlock {
     background-color: white;
     padding: 20px;
     margin: 10px;
     border-radius: 10px;
     box-shadow: 4px 4px 10px 2px #00000050;
     width: 20%;
     transition: all .2s ease-in-out;
}

.shoeBlock:hover {
     border: 3px solid #ff6600;
     transform: scale(1.1);
}

#results a {
     text-decoration: none;
     display: block;
     margin: auto;
}

#displayMensResult,
#displayWomensResult {
     display: block;
     width: 100%;
     color: white;
     font-size: 2rem;
     background-color: #ff6600;
}

.shoeBlock img {
     border-radius: 15px;
     max-width: 100%;
     height: auto;
     margin-bottom: 15px;
}

.shoeBlock h4 {
     color: #222;
}

.shopBttn {
     color: white;
     background-color: #ff6600;
     padding: 16px 40px 16px 40px;
     border-radius: 15px;
}

.shopBttn {
     padding: 10px;
     margin: 10px;
     color: white;
     background-color: #ff6600;
     border: none;
     border-radius: 55px;
     box-shadow: 4px 4px 10px 2px #00000050;
     transition: all .2s ease-in-out;
}

.shopBttn:hover {
     background-color: #ff8533;
     transform: scale(1.1);
}

@media screen and (max-width: 600px) {
     .shoeBlock{
          width: 60%;
     }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
     .shoeBlock{
          width: 30%;
     }
}