/* Box Model Hack */

* {
    box-sizing: border-box;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background-color: #F2F1F0;
}

button {
    color: white;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 4rem;
    margin: 0;
}

header {
    background-color: #222;
    padding: 2%;
}


/* footer {
    background-color: #222;
    color: lightgray;
    padding: 5px;
    font-size: 10px;
    margin-bottom: 0px;
} */

button {
    cursor: pointer;
}

#restartBttn {
    background-color: #ff6600;
    font-size: 1rem;
    border: none;
    border-radius: 55px;
    padding: 15px 30px;
    transition: all .2s ease-in-out;
    margin-bottom: 7%;
    box-shadow: 4px 4px 10px 2px #00000050;
}

#restartBttn:hover {
    background-color: #ff8533;
    transform: scale(1.1);
}


/******************************************
/* QUESTION STYLES
/*******************************************/

.hidden {
    display: none;
}

.mainContainer {
    background-color: white;
    border-radius: 20px;
    margin: 2% 10%;
    padding: 2%;
    box-shadow: 4px 4px 10px 2px #00000050;
}

.question {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
}

.question>h2 {
    font-size: 2.63rem;
    margin-bottom: 0;
}

.question h2+p {
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.question h2+p+a {
    text-decoration: none;
    color: dimgray;
    font-weight: 300;
}

.question h2+p+a:hover {
    color: #ff6600;
}

.answers {
    display: flex;
    justify-content: center;
}

.answers img {
    width: 100%;
    height: auto;
    border-radius: 18px 18px 0 0;
}

.answers button {
    background-color: #222;
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 20px;
    margin: 3%;
    height: min-content;
    padding: 0px;
    box-shadow: 4px 4px 10px 2px #00000050;
    transition: all .2s ease-in-out;
}

.answers button:hover {
    background-color: #ff6600;
    transform: scale(1.1);
}

.answers p {
    padding: 0px 0px 10px 0px;
    margin: 0;
}

#distanceImage {
    padding: 0 2% 2% 2%;
}

.distanceBttns button {
    background-color: #ff6600;
    padding: 15px;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}

.distanceBttns button:hover {
    background-color: #ff8533;
    transform: scale(1.1);
}

.moreInfo {
    background: #ffffff;
    border-radius: 20px;
    padding: 5% 5%;
    margin: 5%;
    border: 2px solid #ff6600;
}

.moreInfo h3 {
    color: #ff6600;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
}

.moreInfo p {
    font-weight: 300;
    font-size: 1.2rem;
}


/******************************************
/* RESULTS STYLES
/*******************************************/

#resultContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    border-radius: 20px;
    margin: 2% 10%;
    background-color: #fafafa;
}

.shoeBlock {
    background-color: white;
    padding: 1.5%;
    margin: 1.6%;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 2px #00000050;
    width: 20%;
    transition: all .2s ease-in-out;
}

.shoeBlock:hover {
    border: 3px solid #ff6600;
    transform: scale(1.1);
}

#results a {
    text-decoration: none;
    margin: 2%;
    display: block;
}

#displayContainer {
    width: 100%;
    margin-top: 0;
    border-radius: 18px 18px 0 0;
    padding: 2%;
    color: #222;
    font-weight: 300;
}

#displayContainer p {
    font-size: 1.5rem;
    margin: 0;
}

#displayContainer a {
    color: dimgray;
}

#displayContainer a:hover {
    color: #ff6600;
}

#displayResult {
    color: #ff6600;
    text-shadow: 2px 1px 1px #00000050;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0;
}

.shoeBlock img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.shoeBlock h4 {
    color: #222;
}

.shopBttn {
    color: white;
    background-color: #ff6600;
    margin: 10px;
    padding: 16px 40px 16px 40px;
    border-radius: 15px;
    border: none;
    box-shadow: 4px 4px 10px 2px #00000050;
    transition: all .2s ease-in-out;
}

.shopBttn:hover {
    background-color: #ff8533;
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .shoeBlock {
        width: 45%;
        margin: 2%;
        padding: 1%;
    }
    .shopBttn {
        padding: 5%;
    }
    .answers {
        flex-wrap: wrap;
    }
    .question>h2 {
        font-size: 2rem;
    }
    .moreInfo h3 {
        color: #ff6600;
        font-weight: 500;
        font-size: 1.5rem;
        margin: 0;
    }
    #displayContainer .moreInfo p {
        font-weight: 300;
        font-size: 1rem;
    }
    .mainContainer {
        margin: 5% 10%;
        padding: 10%;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .shoeBlock {
        width: 30%;
    }
}